* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.currentContainer {
    padding: 30px 0;
    background: linear-gradient(120deg, #2575fc, #4f119f 90%);
    color: white;
    font-weight: 200;
    text-align: center;
}

.currentWeather {
    width: 80%;
    margin: auto;
}

.city {
    font-size: 2.2em;
}

.city .cityName {
    font-weight: 400;
}

.currentWeather {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
}

.blockDate::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 75px;
    background-color: white;
    top: 82px;
    left: 155px;

}

.currentTime {
    font-size: 2.5em;
}

.currentDay {
    font-size: 1em;
}

.currentTemperature {
    font-size: 3.2em;
    float: right;
}

.currentTemperature::before {
    content: "";
    background: url("sun.svg");
    position: absolute;
    margin-left: -60px;
    margin-top: 6px;
    width: 50px;
    height: 50px;
}

.currentSky {
    float: left;
    font-size: 0.8em;
}

.currentRain {
    float: right;
    font-size: 0.8em;
}

.currentRain::before {
    content: "";
    background: url("rain_risk.svg");
    position: absolute;
    margin-left: -15px;
    margin-top: 2px;
    width: 10px;
    height: 10px;
}
.categorie-name{
    color : #5738e8;
    font-weight: 300;
    margin: 15px 0 5px 25px;
}
hr {
    height: 1px;
    width : 85%;
    margin : auto;
    padding: 0;
    color: #5738e8;
    background-color: #5738e8;
    border: 0;
}